

body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	line-height: 40px;
	margin: 50px 30;
	padding: 10;
	color: #04451A;
}

img {
	align-content: center;
	width: 72%;
}



/* .servinga {
	padding-top: 35px;
	margin-left: 35%;
	float: left;
	width: 12%;
	text-align: right;
	font-weight: 680;
}


.servingb {
	padding-top: 35px;
	margin-left: 15px;
	width: 25%;
	float: left;
	text-align: left;
	font-weight: 460px;
} */

html{
	background-color:#ff6f69;
	background: radial-gradient(#ff6f69, #ff8b87);

/*	background-image:url('https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2F1479854258%2Fkahaluu-bay-kona-big-island-hawaii-WRLDSNST1122.jpg%3Fitok%3DSFMX3uUf&w=800&q=85');
	background-repeat: no-repeat;
    background-size: 100%;
	background-position:50% 50%;*/
}

.border{
	padding: 10px;
		background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #E5F8D1 34%, #099D5E 34%);
	background-size: 400% 400%;
	height: 300px;
	background-position: 25% 50%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	align-content: center;
}
.inner-cutout{
	padding: 50px 0;
	display: block;
	background-color:#ff6f69;/*#ff6f69*/
		
	margin: 2%;
	padding-bottom: 30px;
	height: 200px;
	background: radial-gradient(#ff6f69, #ff8b87);
	 background-size: 300%;
	background-position:50% 50%;
	align-content: center;

}
.knockout {
	
	vertical-align: middle;
	text-align: center;
	font-family: 'Source Sans Pro', cursive;
	font-size: 40pt;
	color: blue;
	color: #fff;
	background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #E5F8D1 34%, #099D5E 34%);
	background-size: 400%;
	 -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  align-content: center;
}
.knockout{
		animation: Gradient 5s ease infinite;
		-webkit-animation: Gradient 15s ease infinite;
		-moz-animation: Gradient 5s ease infinite;
		align-content: center;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 30% 50%
	}
	50% {
		background-position: 25% 50%
	}
	100% {
		background-position: 30% 50%
	}
	
}



.main{
	width: 500px;
	height: 300px;
	margin-left: 18%;
	margin-right:40%;
	margin-top: 10%;
	margin-bottom: 10%;
}




.intro {
	margin: 30px 25px 0 30px;
	font-weight: 340;
}

.section {
	top: 1;
	background: #E5F8D1;
	height: 128px;
	margin: 30px 0 30px 0;
	font-weight: 320;
	line-height: 126px;
	font-size: 40px;
	font-weight: bolder;
	letter-spacing: 4.5px;
	
}


.ingredienta {
	margin-left: 20%;
	float: left;
	width: 5%;
	text-align: right;
	font-weight: 320;
	padding-bottom: 7px;
	font-weight: bold;

}

.ingredientrow1 {

	clear: both;
}

.ingredientb {
	margin-left: 35px;
	margin-right: 5%;
	width: 55%;
	float: left;
	text-align: left;
	font-weight: 320;
	padding-bottom: 7px;
}

.ingredientc {

	margin-left: -25px;
	margin-right: 5%;
	width: 55%;
	float: left;
	text-align: left;
	font-weight: 320;
	padding-top: 20px;
	padding-bottom: 25px;
	font-weight: bold;
}


.instructiona {
	margin-left: 10%;
	float: left;
	width: 15%;
	text-align: right;
	font-weight: 300;
	padding-bottom: 17px;
	font-weight: bold;
}

.instructionb {
	margin-left: 22px;
	margin-right: 5%;
	width: 55%;
	float: left;
	text-align: left;
	font-weight: 300;
	padding-bottom: 17px;
}

.citation {
	margin-left: 35px;
	margin-right: 15%;
	width: 50%;
	float: center;
	text-align: center;
	align-content: center;
	font-weight: 150;
	font-size: 12px;
	padding-bottom: 17px;
}


.box:after {
	content: "";
	display: table;
	clear: both;
}