body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 20px;
	margin: 50px 10;
	padding: 10;
	color: #04451A;
}

img {
	align-content: center;
	width: 65%;
}

/* .servinga {
	padding-top: 35px;
	margin-left: 35%;
	float: left;
	width: 12%;
	text-align: right;
	font-weight: 680;
}


.servingb {
	padding-top: 35px;
	margin-left: 15px;
	width: 25%;
	float: left;
	text-align: left;
	font-weight: 460px;
} */


.intro {
	margin: 30px 25px 0 25px;
	font-weight: 340;
}

.section {
	top: 1;
	background: #F2FFF6;
	height: 128px;
	margin: 60px 0 30px 0;
	font-weight: 328;
	line-height: 126px;
	font-size: 48px;
	font-weight: bolder;
	letter-spacing: 7px;
	
}


.ingredienta {
	margin-left: 20%;
	float: left;
	width: 5%;
	text-align: right;
	font-weight: 320;
	padding-bottom: 7px;
	font-weight: bold;

}

.ingredientb {
	margin-left: 22px;
	margin-right: 5%;
	width: 55%;
	float: left;
	text-align: left;
	font-weight: 320;
	padding-bottom: 7px;
}


.instructiona {
	margin-left: 10%;
	float: left;
	width: 15%;
	text-align: right;
	font-weight: 300;
	padding-bottom: 17px;
	font-weight: bold;
}

.instructionb {
	margin-left: 22px;
	margin-right: 5%;
	width: 55%;
	float: left;
	text-align: left;
	font-weight: 300;
	padding-bottom: 17px;
}


.box:after {
	content: "";
	display: table;
	clear: both;
}